/ takes in variable for type of summary (drug or gene)
/ displays lists of aliases, drug/gene info, publications

%div(class="item-content")
	%div{class: "cell category", style: "float: right; width: 50%"}
		%div(class="item-panel")
			%h4
				Alternate Names:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 494px; overflow-y: scroll; table-layout:fixed; width: 100%", id: "table_aliases"}
				-drug.drug_aliases.each do |alt_name| ######
					%tr
						%td{style: "width: 70%; word-break:break-all"}
							=alt_name.alias
						%td{style: "text-align: right; width: 30%; word-break:break-all"}
							=alt_name.nomenclature
	%div{class: "cell category", style: "float: left; width: 50%" }
		%div{class: "item-panel", style:"margin-bottom: 10px"}
			%h4
				Drug Info:
			%table{class: "table table-condensed table-striped", style: "display: block; table-layout:fixed; width: 636px; height: 200px; overflow-y: scroll", id:"table_info"}
				-drug.drug_attributes.each do |attribute| #######
					%tr
						%td{style: "width: 300px"}=attribute.name
						%td{style: "width: 336px"}=attribute.value
			%div#linkouts
				- drug.drug_claims.each do |dc|
					%button{class: "button", type: "button", style:"background-color: #e7e7e7; border: none; margin-bottom: 4px", onclick:"location.href='#{dc.original_data_source_url}';"}
						= dc.source.source_db_name

		%div(class="item-panel")
			%h4
				Publications:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 200px; table-layout:fixed; width: 100%; overflow-y: scroll", id:"table_publications"}
				-drug.publications.each do |publication| ########
					%tr
						%td{style: "width: 100%"}
							%a{href: PMID.pubmed_url(publication.pmid)}
								= publication.citation

:javascript
	var remaining = 252 - 20 - $('#linkouts')["0"].offsetHeight
		$('#table_info')["0"].style.height = remaining + "px";

	window.addEventListener('resize', function(){
		var remaining = 252 - 20 - $('#linkouts')["0"].offsetHeight
		$('#table_info')["0"].style.height = remaining + "px";
	})
	
:css
	div button:hover {
	    background-color: #330066!important;
	    color: white;
	}