#notice= notice
%title

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        -@drugs.each do |drug|
          %p
            %b Name:
            %a{href: drug.original_data_source_url}
              =drug.name
          %p
            %b Source Database Name:
            =drug.citation.source_db_name
          %p
            %b Source Database Version:
            =drug.citation.source_db_version
          %p
            %b Alternate Names:
            %ul
            -drug.drug_alternate_names.each do |alt_name|
              %li
                =alt_name.alternate_name
          %p
            %b Categories:
            %ul
            -drug.drug_categories.each do |category|
              %li
                =category.category_name
                |
                =category.category_value
          %p
            %b Citation:
            =drug.citation.citation
