%div(class="item-title")
  %div(class="item-name")
    %h3(class="item-source")
      =ext_link_to(source.source_db_name, source.site_url)
  %div(class="item-corner")
    %ul(class="attribute-list")
      %li
        %strong
          Full Name:
        =source.full_name
        %strong
          Version:
        =source.source_db_version

%div(class="item-content")
  %div(class="cell category")
    %div(class="item-panel")
      %h4
        Genes
      %table(class="table table-condensed")
        %tr
          %td
            Total:
          %td(style="width: 100%;")
            =source.gene_claims_count

        %tr
          %td
            In&nbsp;Groups:
          %td(style="width: 100%;")
            =source.gene_claims_in_groups_count
        %tr
          %td
            Inter-Gene&nbsp;Interactions:
          %td(style="width: 100%;")
            =source.gene_gene_interaction_claims_count

  %div(class="cell category")
    %div(class="item-panel")
      %h4
        Drugs
      %table(class="table table-condensed")
        %tr
          %td
            Total:
          %td(style="width: 100%;")
            =source.drug_claims_count

        %tr
          %td
            In&nbsp;Groups:
          %td(style="width: 100%;")
            =source.drug_claims_in_groups_count

      %h4
        Interactions
      %table(class="table table-condensed")
        %tr
          %td
            Total:
          %td(style="width: 100%;")
            =source.interaction_claims_count

  %div(class="cell category")
    %div(class="item-panel")
      %h4
        Full Citation
      %p=source.citation_with_pmid_link.html_safe

  %div(class="cell category")
    %div(class="item-panel")
      %h4
        License
      %p=source.license_linkout.html_safe
