%ul(class="result-list" id="source-list-results")
  
  -sources.sort_by{ |s| [s.type_display_name, s.source_db_name.downcase] }.each do |source|
    -type = source.type
    %li(class="#{type}" data-category="#{type}" data-name="#{source.type_display_name}")
      - if type == "gene"
        =render partial: 'sources/gene_source', locals:{source: source}
      - elsif type == "drug"
        =render partial: 'sources/drug_source', locals:{source: source}
      - elsif type == "interaction"
        =render partial: 'sources/interaction_source', locals:{source: source}
      - elsif type == "potentially_druggable"
        =render partial: 'sources/category_source', locals:{source: source}
