#notice= notice
=content_for :title, @title
=content_for :header do
  %h2
    =@title
    %small source summary page

.container-fluid
  .row-fluid
    .span12
      .well
        %h3 Source Record
        %p
        =render partial: 'sources/source', locals:{source: @source}
