#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %a(href="/faq#source")
        =icon('question-sign')
#container.container-fluid
  =render partial: 'sources/sources', locals:{sources: @sources}

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"
