#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %a(href="/faq#source")
        =icon('question-sign')

.container-fluid
  .row-fluid#container
    %div(id="list-filter-tabs" class="span10")
      %ul(class="nav nav-tabs")
        %li(class="active")
          %a(href="#" data-category="all")
            %i(class="icon-chevron-right")
            All

    %div(class="span10" style="float: left; width: 83%; display: block; margin-left: 2.5%")
      =render partial: 'sources/sources', locals:{sources: @sources}

:css
  .nav-tabs>li>a {
    border: 1px solid #ddd;
    border-radius: 0;
  }
  #list-filter-tabs {
    margin-left: 2.5%;
    width: 83%;
  }

  #list-filter-tabs li {
    border-left-width: 4px; 
    border-left-style: solid; 
    border-radius: 4px 0 0 4px;
    margin-bottom: 20px;
  }

  li {
    line-height: 20px; 
    display: list-item;
  }
  #list-filter-tabs li a {
    border-left-width: 0;
  }

=javascript_include_tag "source-list-tabs"
=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"
