%h3
  Drug Alternate Name
%dl
  -results.each do |r|
    %dt=r.result.alternate_name
    %dd="Drug:  #{r.result.drug.name} from #{r.result.drug.citation.source_db_name} version #{r.result.drug.citation.source_db_version}"
