%h3
  Gene
%dl
  -results.each do |r|
    %dt=link_to r.result.name, "/genes/#{r.result.citation.source_db_name}/#{r.result.name}"
    %dd="Source:  #{r.result.citation.source_db_name} version #{r.result.citation.source_db_version}"
