#notice= notice
=content_for :title, "Search Results"
=content_for :header do
  %h2
    Search Results
    %small results for your search term

.row-fluid.span12
  .span6
    -@search_results.each do |result|
      =result.render_result(self)
