#notice= notice
=content_for :title, "Search Results"
=content_for :header do
  %h2
    Search Results
    %small results for your search term

.row-fluid.span12
  =render partial: 'search/search_results_list', locals: {search_results: @search_results}
