#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.row-fluid.span12
  .span6
    -@search_results.each do |result|
      =result.render_result(self)
