%tr
  %td
    =interaction_table_row.search_term
  %td
    =link_to interaction_table_row.gene_group_display_name,  gene_path(interaction_table_row.gene_group_name)
  %td
    =link_to interaction_table_row.drug_name, drug_path(interaction_table_row.interaction.drug.name)
  %td
    =link_to interaction_table_row.types_string, interaction_claim_path(interaction_table_row.interaction)
  %td
    =link_to interaction_table_row.source_db_name, source_summary_path(interaction_table_row.source_db_name)
