/summary panel to be used in lists for interaction tab

- cache interaction do
  
  /- attributes = interaction.interaction_claims.map{|claim| claim.interaction_claim_attributes}.flatten
  - attributes = interaction.interaction_attributes

  %div(class="item-title")
    %div(class="item-name")
      %h3(class="item-source")
        %a{href: "/drugs/#{interaction.drug.name}"} 
          =interaction.drug.name
        %span{class: "glyphicon glyphicon-triangle-right"} ->
        %a{href: "/genes/#{interaction.gene.name}"} 
          =interaction.gene.name 

  %div(class="item-content")
    %div(class="cell category")
      %div{class: "item-panel"}
        %h4{style: "display: inline-block;"}
          Interaction Types:
          /-types = interaction.interaction_claims.map {|claim| claim.interaction_claim_types}.flatten

          %table{class: "table table-condensed table-striped"}
            -interaction.interaction_types.each do |interaction_type|
              %tr
                %td=interaction_type.type

    %div(class="cell category")
      %div{class: "item-panel"}
        %h4
          Interaction Info:
          %table{class: "table table-condensed table-striped"}
            - info = attributes.reject{|attribute| attribute.name == 'PMID' || attribute.name == 'Interaction Type'}[0..1]
            - info.each do |attribute|
              %tr
                %td=attribute.name
                %td=attribute.value

    %div(class="cell category")
      %div{class: "item-panel"}
        %h4
          Publications:
          %table{class: "table table-condensed table-striped"}
            - pubs = attributes.select{|attribute| attribute.name == 'PMID'}[0..1]
            - pubs.each do |pub|
              %tr
                %td
                  - publication =  DataModel::Publication.find(pub.value)
                  %a{href: publication.link}
                    = publication.citation
