/summary panel to be used in lists for interaction tab

%div(class="item-title")
  %div(class="item-name")
    %h3(class="item-source")
      %a{href: "/drugs/#{interaction.drug.name}"} 
        =interaction.drug.name
      %span{class: "glyphicon glyphicon-play", "aria-hidden" => "true", style: "margin-left: 10px; margin-right: -8px"}
      &nbsp
      %a{href: "/genes/#{interaction.gene.name}"} 
        =interaction.gene.name 

%div(class="item-content")
  %div(class="cell category")
    %div{class: "item-panel"}
      %h4{style: "display: inline-block;"}
        Interaction Types:
        %table{class: "table table-condensed table-striped", style: "table-layout:fixed;"}
          -interaction.na_or_types[0..2].each do |interaction_type|
            %tr
              %td=interaction_type

  %div(class="cell category")
    %div{class: "item-panel"}
      %h4
        Interaction Info:
        %table{class: "table table-condensed table-striped", style: "table-layout:fixed;"}
          - info = interaction.interaction_attributes.reject{|attribute| attribute.name == 'PMID' || attribute.name == 'Interaction Type'}[0..2]
          - info.each do |attribute|
            %tr
              %td=attribute.name
              %td=attribute.value

  %div(class="cell category")
    %div{class: "item-panel"}
      %h4
        Publications:
        %table{class: "table table-condensed table-striped", style: "table-layout:fixed;"}
          - interaction.publications[0..2].each do |publication|
            %tr
              %td
                %a{href: PMID.pubmed_url(publication.pmid)}
                  = publication.citation
