.well
  %h3
    =title
    %i.icon-flag.tip{title: tooltip_text}
  %table.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th
          Search Term
        %th
          Gene
          %i.icon-flag.tip{title: tx("gene_table_header_flag")}
        %th
          Drug
        %th
          Interaction Type
          %i.icon-flag.tip{title: tx("interaction_table_header_flag")}
        %th
          Source
    %tbody
      =render partial: 'interactions/interaction_table_row', collection: interactions
