%div{style: "float: right"}
  %div.alert.alert-error
    %h3 
      Preset Filters
    %ul
    - [@preset_fda, @preset_neo, @preset_immuno, @preset_clin, @preset_resist, @preset_druggable].reject { |c| c.empty? }.each do |preset|
      %li
        = preset

  %div.well
    %h3
      Unique Matches
    %div
    - definite_results.each do |result|
      %div
      - result[:identifiers].each do |entity|
        %input{class: "unique", type: "checkbox", name: "#{entity.name}", checked: 1}
          = "Search Term: " + result[:term]

%div{style: "float: left; width: 1100px"}
  %ul(class="result-list" id="list-results")
    -definite_results.each do |result|
      -result[:identifiers].each do |entity|
        %li{class: "interaction interaction-panel", "data-category" => "interaction", "data-name" => "Interaction", id: entity.name}
          = render partial: 'interaction_claims/interactions_search_panel', locals: { term: result[:term], entity: entity }

:javascript
  $(".unique").on("click", function() {
    name = "#" + $(this)[0].name;
    if($(this)[0].checked){
      $(name).show();
    }  
    else{
      $(name).hide();
    }
  });