%tr
  %td 
    =results_by_gene_table_row.search_term
  %td
    =link_to results_by_gene_table_row.gene_display_name, gene_group_path(results_by_gene_table_row.gene_name)
  %td
    =results_by_gene_table_row.passed_drug_count
  %td
    =results_by_gene_table_row.failed_drug_count
  %td
    =(results_by_gene_table_row.category_list.map{|g| link_to g, gene_group_by_category_path(g)}).join(', ').html_safe
