#notice= notice
=content_for :title, "Test Page"

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p
          %b Definite Results
          %table
            -@search_results.definite_results.each do |result|
              =render partial: 'interactions/interaction_table_row', collection: result.interactions, locals: {search_term: result.search_term} 

