#notice= notice
=content_for :title, "Test Page"

.container-fluid
  .row-fluid
    .span12
      -if @search_results.show_definite?
        =render partial: 'interactions/interaction_results_table', locals: {title: 'Definite Results (Passed Filter)', interactions: @search_results.definite_interactions(:filtered)}
        =render partial: 'interactions/interaction_results_table', locals: {title: 'Definite Results (Failed Filter)', interactions: @search_results.definite_interactions(:unfiltered)}
      -if @search_results.show_ambiguous?
        =render partial: 'interactions/interaction_results_table', locals: {title: 'Ambiguous Results (Passed Filter)', interactions: @search_results.ambiguous_interactions(:filtered)}
        =render partial: 'interactions/interaction_results_table', locals: {title: 'Ambiguous Results (Failed Filter)', interactions: @search_results.ambiguous_interactions(:unfiltered)}
