#notice= notice
=content_for :title, "Test Page"

.container-fluid
  .row-fluid
    .span12
      .well
          %b Definite Results
          %table.table.table-striped.table-bordered
            =render partial: 'interactions/interaction_table_row', @search_results.definite_interactions
      .well
          %b Ambiguous Results
          %table.table.table-striped.table-bordered
            =render partial: 'interactions/interaction_table_row', collection: @search_results.ambiguous_interactions
  .row-fluid
    .span12
      .well
        %table.table.table-striped
          -@params.each_pair do |k,v|
            %tr
              %td=k
              %td=v
