=['Source','Drug','Interaction Type','Gene','Search Term'].join("\t")+"\n"
=@search_results.definite_interactions(:filtered).map { |result| [result.source_db_name, result.drug_name, result.types_string, result.gene_group_name, result.search_term].join("\t") }.join("\n")
