=content_for :title, "DGIdb - #@title Interaction Record"
=content_for :header do
	%h2
		%span{id: "interaction_name"}
			=@title
		%small
			Interaction Record
			%a(href="/faq#defined")
				=icon('question-sign') # this is not going to the right spot

- cache @interaction do
	.container-fluid
		.tabbable
			%ul.nav.nav-tabs
				%li.active
					%a(href="#summary" data-toggle="tab") Summary
				%li
					%a(href="#claims" data-toggle="tab") Claims
			.tab-content
				.tab-pane.active#summary
					.row-fluid#container
						.span10
							%ul(class="result-list" id="list-results")
								%li
									=render partial: 'interactions/interaction_summary_tab', locals: { interaction: @interaction } 
				.tab-pane.fade#claims
					.row-fluid
						.span10
							=render partial: 'shared/claims_tab', locals: {interaction: @interaction}

%br
	=javascript_include_tag "jquery.masonry.min"
	=javascript_include_tag "jquery.dataTables.min"
	=javascript_include_tag "pagination_bootstrap"
	=javascript_include_tag "gene_groups"
	=javascript_include_tag "gene-list-tabs"