=content_for :title, "DGIdb Interaction Types"
=content_for :header do
  %h2
    %span
      Interaction Types

#container.container-fluid
  %div{class: "well"}
    This table has been assembled based upon our own understanding of the definitions of these terms, and we have provided citations to support these definitions. Many of the resources we curate do not provide their own definitions of these terms, and so we encourage users of DGIdb to use these definitions as a starting point, and review interactions of interest from their primary sources. If you have any questions or comments regarding these definitions or the use of DGIdb,
    %a{:href => "contact"} please contact us!

  %div{class: "well"}
    %table{class: "table table-condensed table-striped", id: "interaction_types"}
      %thead
        %tr
          %th Interaction Type
          %th Sources Using This Type
          %th Description
          %th Directionality
          %th Reference
      %tbody
        - @types.each do |t|
          %tr
            %td=t.type
            %td=t.interactions.flat_map{|i| i.sources}.uniq.pluck(:source_db_name).sort.join(', ')
            %td=t.definition
            %td=t.directionality.nil? ? "N/A" : t.directionality
            %td=t.reference.nil? ? "" : t.reference.html_safe
