%tr
  %td
    =link_to category_results_table_row.group_name, gene_group_path(category_results_table_row.group_name)
  %td
    =link_to category_results_table_row.gene_category, gene_group_by_category_path(category_results_table_row.gene_category)
  %td
    =category_results_table_row.search_term
