%tr
  %td
    =link_to category_table_row.gene_group.display_name, gene_group_path(category_table_row.gene_group.name)
  %td
    =category_table_row.source_db_names.map{|name| link_to name, "/sources/#{name}"}.join(", ").html_safe
