.well
  %h3= title
  %table.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th
          Gene Name
        %th
          Gene Category
        %th
          Search Term
    %tbody
      =render partial: 'gene_groups/family_results_table_row', collection: families
