-gene_group.genes.sort_by{|g| g.sort_value}.each do |gene|
  .item
    %div(class="hero-unit gene bubble-links #{gene.citation.source_db_name}")
      =render partial: 'genes/gene', locals: {gene: gene}
