%tr
  %td=link_to results_by_family_table_row.family_name, gene_group_by_family_path(results_by_family_table_row.family_name)
  %td=results_by_family_table_row.group_count
  %td=results_by_family_table_row.groups
