%tr
  %td=link_to results_by_category_table_row.category_name, gene_group_by_category_path(results_by_category_table_row.category_name)
  %td=results_by_category_table_row.group_count
  %td=results_by_category_table_row.groups
