%tr
  %td
    =link_to results_by_source_table_row.name, gene_group_by_category_path(results_by_source_table_row.name)
  -results_by_source_table_row.sources.each do |source_count|
    %td
      =source_count
  %td
    -sum=0
    -results_by_source_table_row.sources.each{|source_count| sum += source_count}
    =sum
