#notice= notice
=content_for :title, "Category Search Results"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a(href="#by_genes" data-toggle="tab") By Gene Name
      %li
        %a(href="#search_summary_tab" data-toggle="tab") Search Results Summary
      %li
        %a(href="#by_categories" data-toggle="tab") By Gene Category
      %li
        %a(href="#by_source" data-toggle="tab") By Source
    .tab-content
      .tab-pane.active#by_genes
        -if @search_results.show_pass_categories?
          .row-fluid
            .span12
              =render partial: 'gene_groups/category_results_table', locals: {title: "Results in Selected Categories", categories: @search_results.pass_filtered_categories }
        -if @search_results.show_fail_categories?
          .row-fluid
            .span12
              =render partial: 'gene_groups/category_results_table', locals: {title: "Results Not in Selected Categories", categories: @search_results.fail_filtered_categories }
        .row-fluid
          -if @search_results.show_ambiguous_results?
            =render partial: 'gene_groups/no_category_result', locals: {title: 'Ambiguous Terms', results: @search_results.ambiguous_results, tooltip_text: tx('ambiguous_terms_flag')}
          -if @search_results.show_definite_results_with_no_categories?
            =render partial: 'gene_groups/no_category_result', locals: {title: 'Matched Genes With No Categories', results: @search_results.definite_results_with_no_categories, tooltip_text: tx('no_matches_flag')}
          -if @search_results.show_no_results_results?
            .span6
              .well
                %h3
                  Search Terms With No Matches
                  %i.icon-flag.tip(title="Search terms for which we could find no matches")
                %ul
                  -@search_results.no_results_results.each do |result|
                    %li=result.search_term
      .tab-pane.fade#by_categories
        -if @search_results.show_passed_groups_by_category?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_category_table', locals: {title: "Results in Selected Categories", categories: @search_results.passed_groups_by_category }
        -if @search_results.show_failed_groups_by_category?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_category_table', locals: {title: "Results Not in Selected Categories", categories: @search_results.failed_groups_by_category }
      .tab-pane.fade#search_summary_tab
        =render partial: 'gene_groups/results_summary', locals: {results: @search_results}
      .tab-pane.fade#by_source
        =render partial: 'gene_groups/results_by_source_table', locals: {results: @search_results}

=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "interaction_search_results"
