#notice= notice
=content_for :title, "Category Search Results"

.container-fluid
  .page-header
    %h2
      Category Search Results
      %small interaction results for your entered gene names and selected categories
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a(href="#by_genes" data-toggle="tab") By Gene Name
      %li
        %a(href="#by_families" data-toggle="tab") By Gene Category
    .tab-content
      .tab-pane.active#by_genes
        -if @search_results.show_pass_families?
          .row-fluid
            .span12
              =render partial: 'gene_groups/family_results_table', locals: {title: "Results in Selected Categories", families: @search_results.pass_filtered_families }
        -if @search_results.show_fail_families?
          .row-fluid
            .span12
              =render partial: 'gene_groups/family_results_table', locals: {title: "Results Not in Selected Categories", families: @search_results.fail_filtered_families }
      .tab-pane.fade#by_families
        -if @search_results.show_passed_groups_by_family?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_family_table', locals: {title: "Results in Selected Categories", families: @search_results.passed_groups_by_family }
        -if @search_results.show_failed_groups_by_family?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_family_table', locals: {title: "Results Not in Selected Categories", families: @search_results.failed_groups_by_family }


=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "interaction_search_results"
