#notice= notice
=content_for :title, "Category Search Results"

.container-fluid
  .page-header
    %h2
      Category Search Results
      %small interaction results for your entered gene names and selected categories
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a(href="#by_genes" data-toggle="tab") By Gene Name
      %li
        %a(href="#by_categories" data-toggle="tab") By Gene Category
    .tab-content
      .tab-pane.active#by_genes
        -if @search_results.show_pass_categories?
          .row-fluid
            .span12
              =render partial: 'gene_groups/category_results_table', locals: {title: "Results in Selected Categories", categories: @search_results.pass_filtered_categories }
        -if @search_results.show_fail_categories?
          .row-fluid
            .span12
              =render partial: 'gene_groups/category_results_table', locals: {title: "Results Not in Selected Categories", categories: @search_results.fail_filtered_categories }
        .row-fluid
          -if @search_results.show_ambiguous_results?
            =render partial: 'gene_groups/no_category_result', locals: {title: 'Ambiguous Terms', results: @search_results.ambiguous_results, tooltip_text: 'Your search term matched more than one gene record'}
          -if @search_results.show_definite_results_with_no_categories?
            =render partial: 'gene_groups/no_category_result', locals: {title: 'Matched Genes With No Categories', results: @search_results.definite_results_with_no_categories, tooltip_text: 'Search term was matched definitely but had no categories in any data source regardless of any filtering criteria'}
          -if @search_results.show_no_results_results?
            .span6
              .well
                %h3
                  Search Terms With No Matches
                  %i.icon-flag.tip(title="Search terms for which we could find no matches")
                %ul
                  -@search_results.no_results_results.each do |result|
                    %li=result.search_term
      .tab-pane.fade#by_categories
        -if @search_results.show_passed_groups_by_category?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_category_table', locals: {title: "Results in Selected Categories", categories: @search_results.passed_groups_by_category }
        -if @search_results.show_failed_groups_by_category?
          .row-fluid
            .span12
              =render partial: 'gene_groups/results_by_category_table', locals: {title: "Results Not in Selected Categories", categories: @search_results.failed_groups_by_category }

=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "interaction_search_results"
