=content_for :title, @title
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %i.icon-flag.tip{title: tx("title_flag")}

#container.container-fluid
  -@categories.each do |category|
    .item(style="width:400")
      .well
        %h4=link_to "#{category.category_value} (#{category.count})", gene_group_by_category_path(category.category_value)

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"

