=content_for :title, @title
.container-fluid
  .page-header
    %h2
      Druggable Gene Categories
      %small
        select gene categories
        %i.icon-flag.tip(title="Categories are groups of genes considered by some to be potentially druggable targets.")
#container.container-fluid
  -@category_names.each do |category_name|
    .item(style="width:400")
      .well
        %h4=link_to category_name, gene_group_by_category_path(category_name)

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"

