=content_for :title, @title
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %i.icon-flag.tip{title: tx("title_flag")}

#container.container-fluid
  -@categories.each do |category|
    .item(style="width:400")
      .well
        =link_to content_tag(:h4, category.category_value), gene_group_by_category_path(category.category_value)
        %dl
          %dt Genes In Category:
          %dd= category.gene_count
          %dt Interactions In Category:
          %dd= category.interaction_count

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"

