=content_for :title, @title
.container-fluid
  .page-header
    %h2
      Gene Families
      %small select gene families
#container.container-fluid
  -@family_names.each do |family_name|
    .item(style="width:400")
      .well
        %h4=link_to family_name, gene_group_by_family_path(family_name)

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"

