=['Group Name','Gene Category','Search Term'].join("\t")+"\n"
=@search_results.pass_filtered_families.map { |result| [result.group_name, result.gene_family, result.search_term].join("\t") }.join("\n")
