/view for interactions tab for gene/drug
/lists interaction summary panels

- if defined? drug
	- entity = drug 
- else	# do i need to handle edge case where neither is defiend?
	- entity = gene 

%ul(class="result-list" id="list-results")
	-entity.interactions.each do |interaction| # sort by what?
		%li
			=render partial: 'shared/interaction_summary', locals: { interaction: interaction }


