/view for interactions tab for gene/drug
/lists interaction summary panels

- if defined? drug
	- entity = drug 
- else	# do i need to handle edge case where neither is defiend?
	- entity = gene 

%ul(class="result-list" id="list-results")
	-entity.interactions.each do |interaction| # sort by what?
		%li(class="interaction-panel" onclick="location.href='/interactions/#{interaction.id}';")
			=render partial: 'interactions/interaction_summary', locals: { interaction: interaction }

:css
	li.interaction-panel:hover {
		background-color:rgba(220, 220, 220, 1);
		cursor: pointer;
	}