.control-group
  .controls
    =control_group_name
    %br
    =select_tag select_tag_name, options_from_collection_for_select(collection, name_meth, value_meth), multiple: true, class: :multiselect, form: "search_form"
    %div{style:'width:60px;', id: tour_id}

