= button_to '/download_table', {method: :post, class: 'button btn btn-mini export-button',
                                params: {'file_contents' => 'hello world'}} do
  %i(class="fa fa-download" aria-hidden="true")
    %span{style: "font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif"}
      Download as TSV