.row-fluid
  .span12
    .well
      %h3 Search Term Summary
      =render partial: 'shared/table_export', locals: {id: 'search_term_summary_export'}
      %table.table.table-striped.table-bordered{cellpadding: "0", cellspacing: "0", border: "0", id: 'search_term_summary_export'}
        %thead
          %tr
            %th Search Term
            %th
              Match Type
              %i.icon-flag.tip{title: tx("search_term_summary_table_header_match_flag")}
            %th Matches
        %tbody
          -results.search_term_summaries(self).each do |summary|
            %tr
              %td=summary.search_term
              %td=summary.match_type
              %td=summary.gene_links
