.control-group
  %div{id: "exportLink-#{id}"}
    %small
      %btn.btn.btn-mini{onclick: "export_table('#{id}')"}
        =icon('download-alt')
        Download as TSV
  %div{id: "loadingBar-#{id}", style: 'display:none;'}
    .progress.progress-striped.active.span2
      .bar(style='width: 100%') Preparing Download
