-if tour
  %ol#tour(style='display:none;')
    -tour.each_step do |step|
      %li{ data: { target: step.id, title: tx('title_main') + ' Tour' } }
        =step.content
  =javascript_include_tag 'bootstrap-tour'
  :javascript
    $(document).ready(function() {
      var startTour = function(cookies){
        $(this).featureTour({
          'tipContent': '#tour',
          'cookieMonster': cookies,
          'cookieName': "dgidb.dev.#{params['action']}.4",
          })
      };
      var link="<a href='#' id='show-tour'>Show Tour</a>"
      $('.page-header').append(link);
      $('#show-tour').click( function(){startTour(false)});
      startTour(true);
    });

