- cache interaction_claim do
  - info = interaction_claim.interaction_claim_attributes.reject{|attribute| attribute.name == 'PMID' || attribute.name == 'Interaction Type'}
  - types = interaction_claim.interaction_claim_types.map{|claim_type| claim_type.type}.flatten
  - publications = interaction_claim.interaction_claim_attributes.select{|attribute| attribute.name == 'PMID'}
  %div(class="item-title")
    %div(class="item-name")
      %h3(class="item-source")
        =link_to interaction_claim.source.source_db_name, source_path(interaction_claim.source.source_db_name)
    %div(class="item-corner")
      %ul(class="attribute-list")
        %li
          %strong
            Version:
          =interaction_claim.source.source_db_version

  %div(class="item-content")
    %div(class="cell category")
      %div(class="item-panel")
        %h4{style: "display: inline-block;"}
          Main Info:
          %table{class: "table table-condensed table-striped", style: "display: block; height: 95px"}
            %tr
              %td="Gene"
              %td=@interaction.gene.name
            %tr
              %td="Drug"
              %td=@interaction.drug.name
            %tr
              %td="Interaction Types"
              %td=types.join(", ")

    %div(class="cell category")
      %div(class="item-panel")
        %h4
          Other Info:
          %table{class: "table table-condensed table-striped", style: "display: block; height: 100px"}
            -info[0..2].each do |attribute|
              %tr
                %td=attribute.name
                %td=attribute.value

    %div(class="cell category")
      %div(class="item-panel")
        %h4
          Publications:
          %table{class: "table table-condensed table-striped", style: "display: block; height: 100px"}
            -publications[0..2].each do |pub|
              %tr
                %td=pub.value