.well
  %p
    %h3
      =title
    %small
      %strong
        %em
          =subtitle
    %i.icon-flag.tip{title: tooltip_text}
  %table.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th
          Search Term
          %i.icon-flag.tip{title: tx("search_term_table_header_flag")}
        %th
          Gene
          %i.icon-flag.tip{title: tx("gene_table_header_flag")}
        %th
          Drug
          %i.icon-flag.tip{title: tx("drug_table_header_flag")}
        %th
          Interaction Type
          %i.icon-flag.tip{title: tx("interaction_table_header_flag")}
        %th
          Source
          %i.icon-flag.tip{title: tx("source_table_header_flag")}
    %tbody
      =render partial: 'interaction_claims/interaction_table_row', collection: interactions
