.span6
  .well
    %p
      %h3
        =title
        %small
          %strong
            %i.icon-flag.tip{title: tooltip_text}
      %small
        %strong
          %em
            =subtitle
    %dl
      -results.each do |result|
        -result.identifiers.each do |id|
          -if result.type == 'genes'
            %dt=link_to id.name, gene_path(id.name)
          -else
            %dt=link_to id.name, drug_path(id.name)
          %dd="For search term: #{result.search_term}"
