.span6
  .well
    %h3
      =title
      %small
        %i.icon-flag.tip{title: tooltip_text}
    %dl
      -results.each do |result|
        -result.genes.each do |gene|
          %dt=link_to gene.name, gene_path(gene.name)
          %dd="For search term: #{result.search_term}"
