%tr
  %td
    =results_by_source_table_row.name
  -results_by_source_table_row.sources.each do |in_source|
    %td
      -if in_source
        %i.icon-ok
          %p(style="display:none")true
      -else
        %i
          %p(style="display:none")false
  %td
    =results_by_source_table_row.sources.count {|in_source| in_source}
  %td
    =results_by_source_table_row.pmids.count
  %td
    =results_by_source_table_row.score