.row-fluid
  .span12
    .well
      %h3 
        Results Summarized by Gene
        %small
          %strong
            %i.icon-flag.tip{title: tx("search_results_by_gene_flag")}
      %small
        %strong
          %em Gene interaction count associated with each drug.
      %p
      =render partial: 'shared/table_export', locals: {id: 'table-by-drug'}
      %table#table-by-drug.table.table-striped.table-bordered{cellpadding: "0", cellspacing: "0", border: "0"}
        %thead
          %tr
            %th 
              Search Term
              %i.icon-flag.tip{title: tx("search_term_table_header_flag")}
            %th 
              Gene
              %i.icon-flag.tip{title: tx("drug_table_header_flag")}
            %th 
              Distinct Gene Count
              %i.icon-flag.tip{title: tx("interaction_by_drug_table_header_distinct_gene_count_flag")}
        %tbody
          =render partial: 'interaction_claims/results_by_drug_table_row', collection: results.interactions_by_drug
