.row-fluid
  .span12
    .well
      %h3 
        Results Summarized by Gene
        %small
          %strong
            %i.icon-flag.tip{title: tx("search_results_by_gene_flag")}
      %small
        %strong
          %em Drug interaction count and druggable categories associated with each gene.
      %p
      =render partial: 'shared/table_export', locals: {id: 'table-by-gene'}
      %table#table-by-gene.table.table-striped.table-bordered{cellpadding: "0", cellspacing: "0", border: "0"}
        %thead
          %tr
            %th 
              Search Term
              %i.icon-flag.tip{title: tx("search_term_table_header_flag")}
            %th 
              Gene
              %i.icon-flag.tip{title: tx("gene_table_header_flag")}
            %th 
              Distinct Drug Count
              %i.icon-flag.tip{title: tx("interaction_by_gene_table_header_distinct_drug_count_flag")}
            %th
              Druggable Gene Categories
              %i.icon-flag.tip{title: tx("interaction_by_gene_table_header_druggable_categories_flag")}
        %tbody
          =render partial: 'interaction_claims/results_by_gene_table_row', collection: results.interactions_by_gene
