#notice= notice
=content_for :title do
  =tx "title"
  - if @search_mode.nil?
    - @search_mode = @search_results.get_context
=content_for :header do
  %h2
    =tx "title_main"
    %small
      - if @search_mode == 'genes'
        =tx "title_small"
      - else
        =tx "title_small_drugs"
      - if @related_source_gene
        = @related_source_gene
      %a(href="/faq#difference")
        =icon('question-sign')

%ul(class="result-list" id="list-results")
  -@search_results.each do |gene| # sort by what?
    %li(class="interaction interaction-panel" data-category="interaction" data-name="Interaction")
      = render partial: 'interaction_claims/interactions_search_panel', locals: { gene: gene }

:javascript
  $('table').each(function(index){
    $(this).find('> tbody > tr').hide().slice(0, 10).show();
  });
  $(".show-more").on("click", function() {
    var tbl = $(this).prev();
    $("tbody > tr", tbl).slice(0, tbl.find('tr:visible').length + 10).show();
  });
  $(".show-less").on("click", function() {
    var tbl = $(this).prev().prev();
    tbl.find('> tbody > tr').hide().slice(0, 10).show();
  });
/ :css
/   li.interaction-panel:hover {
/     background-color:rgba(220, 220, 220, 1);
/     cursor: pointer;
/   }