#notice= notice
=content_for :title, "Interaction Search Results"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a(href="#interaction_tab" data-toggle="tab") Interaction Results
      %li
        %a(href="#search_summary_tab" data-toggle="tab") Search Results Summary
      %li
        %a(href="#term_summary_tab" data-toggle="tab") Search Term Summary
      %li
        %a(href="#by_gene" data-toggle="tab") By Gene
      %li
        %a(href="#by_source" data-toggle="tab") By Source
    .tab-content
      .tab-pane.fade#search_summary_tab
        =render partial: 'interaction_claims/results_summary', locals: {results: @search_results}
      .tab-pane.fade#term_summary_tab
        =render partial: 'shared/search_term_summary_table', locals: {results: @search_results}
      .tab-pane.fade#by_source
        =render partial: 'interaction_claims/results_by_source_table', locals: {results: @search_results}
      .tab-pane.fade#by_gene
        =render partial: 'interaction_claims/results_by_gene_table', locals: {results: @search_results}
      .tab-pane.active#interaction_tab
        .row-fluid
          .span12
            -if @search_results.show_definite?
              =render partial: 'interaction_claims/interaction_results_table', locals: {title: "Primary Results", interactions: @search_results.definite_interactions, tooltip_text: tx("definite_results_passed_filter_flag"), subtitle: "Search terms matching exactly one gene, and with one or more drug interactions."}
            -if @search_results.show_ambiguous?
              =render partial: 'interaction_claims/interaction_results_table', locals: {title: "Ambiguous Results", interactions: @search_results.ambiguous_interactions, tooltip_text: tx("ambiguous_results_passed_filter_flag"), subtitle: "Search terms matching multiple genes, where some of those genes have drug interactions."}
        .row-fluid
          -if @search_results.show_ambiguous_no_interactions?
            =render partial: 'interaction_claims/no_interaction_result', locals: {title: 'Ambiguously Matched Genes With No Interactions', results: @search_results.ambiguous_no_interactions, tooltip_text: tx("ambiguous_results_no_interactions_flag"), xsubtitle: 'Search terms matching multiple genes, but none have interactions.'}
          -if @search_results.show_definite_no_interactions?
            =render partial: 'interaction_claims/no_interaction_result', locals: {title: 'Matched Genes With No Interactions', results: @search_results.definite_no_interactions, tooltip_text: tx("definite_results_no_interactions_flag"), xsubtitle: 'Search terms matching one gene, but no interactions are present.'}
          -if @search_results.show_no_results_results?
            .span6
              .well
                %h3
                  Search Terms With No Matches
                  %small
                    %i.icon-flag.tip{title: tx("terms_with_no_matches_flag")}
                %ul
                  -@search_results.no_results_results.each do |result|
                    %li=result.search_term

=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "interaction_search_results"
