#notice= notice
=content_for :title do
  =tx "title"
  - if @search_mode.nil?
    - @search_mode = @search_results.get_context
=content_for :header do
  %h2
    =tx "title_main"
    %small
      - if @search_mode == 'genes'
        =tx "title_small"
      - else
        =tx "title_small_drugs"
      - if @related_source_gene
        = @related_source_gene
      %a(href="/faq#difference")
        =icon('question-sign')

- cache @gene do
  .container-fluid
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a(href="#successful" data-toggle="tab") Unique Matches
        %li
          %a(href="#failed" data-toggle="tab") Ambiguous or Unmatched

      .tab-content
        .tab-pane.active#successful
          .row-fluid#container 
            .span12
              =render partial: 'interactions/interaction_search_successful' #use @search_mode to determine type of view, just use one set of templates

        .tab-pane.fade#failed
          .row-fluid#container
            .span12
              =render partial: 'interactions/interaction_search_failed'

:javascript
  $('table').each(function(index){
    $(this).find('> tbody > tr').hide().slice(0, 11).show();
  });
  $(".show-all").on("click", function() {
    var tbl = $(this).prev();
    $("tbody > tr", tbl).show();
    $("#nrows", $(this).next().next().next()).html(tbl.find('tr:visible').length - 1);
  });
  $(".show-more").on("click", function() {
    var tbl = $(this).prev().prev();
    $("tbody > tr", tbl).slice(0, tbl.find('tr:visible').length + 10).show();
    $("#nrows", $(this).next().next()).html(tbl.find('tr:visible').length - 1);
  });
  $(".show-less").on("click", function() {
    var tbl = $(this).prev().prev().prev();
    tbl.find('> tbody > tr').hide().slice(0, 11).show();
    $("#nrows", $(this).next()).html(tbl.find('tr:visible').length - 1);
  });