#notice= notice
=content_for :title, title_for_interaction_claim(@interaction)
=content_for :header do
  %h2
    =title_for_interaction_claim(@interaction)
    %small drug-gene interaction summary page
.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p
          %b Drug:
          =links_for_drug_claim(@drug)
        %p
          %b Gene:
          =links_for_gene_claim(@gene)
        %p
          %b Source Database Name:
          =link_to @interaction.source.source_db_name, source_path(@interaction.source.source_db_name)
        %p
          %b Source Database Version:
          =@interaction.source.source_db_version
        %p
          %b Types:
          %table.table.table-striped
            -@interaction.interaction_claim_types.each do |type|
              %tr
                %td=type.type
        %p
          %b Attributes:
          %table.table.table-striped
            -@interaction.interaction_claim_attributes.each do |attribute|
              %tr
                %td=attribute.name
                %td=attribute.value
        %p
          %b Citation:
          %p=@interaction.source.citation
