#notice= notice
=content_for :title, "DGIdb - #{@interaction_claim.title}"
=content_for :header do
  %h2
    =@interaction_claim.title
    %small 
      ="drug-gene interaction data from #{@interaction_claim.source.source_db_name}" 
- cache @interaction_claim do
  =render partial: 'interaction_claims/interaction_claim', locals: {interaction_claim: @interaction_claim}
