#! /usr/bin/make -f

build:
	bundle install
	bundle install --deployment --without development test
	git submodule update --init data
	bundle exec rake assets:clean
	bundle exec rake assets:precompile
	dh $@
	dh_install

%:
	dh $@
