#notice= notice
=content_for :title, 'About'
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p=tx "description"
        %ul
          -@sources.each do |source|
            %li=link_to source, source_summary_path(source)

