#notice= notice
=content_for :title, 'About'
.container-fluid
  .page-header
    %h2
      About DGIDB
      %small drug gene interaction database
  .row-fluid
    .span12
      .hero-unit
        %p DGIDB was created by Malachi, Jim, and James
