#notice= notice
=content_for :title, 'Contact'
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p=tx "description"
      .well
        %dl
          -to("people").each do |p|
            %dt=p["title"]
            -if p["link"]
              %dd=link_to(p["link"], p["link"])
            %dd=p["description"]
