#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"
-cache do
  .container-fluid
    .row-fluid
      .span12
        .well=tx "description"
        .well
          %h3 Current Contributors
          %dl
            -to("people").each do |p|
              %dt=p["title"]
              %dd=p["description"]
              -if p["link"]
                %dd=dynamic_link_to(p["link_title"], p["link"])
              -if p["email"]
                %dd=dynamic_link_to(p["email_title"], p["email"])
              %br
        .well
          %h3 Acknowledgements
          %dl
            -to("additional").each do |a|
              %dt=a["category"]
              %dd=a["people"]
              %br
