#notice= notice
=content_for :title, 'Contact'
=content_for :header do
  %h2
    Contact Us
    %small get in touch

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p mgriffit@genome.wustl.edu
