#notice= notice
=content_for :title, 'Contact'
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %p=tx "description"
