#notice= notice
=content_for :title, 'Contact'
.container-fluid
  .page-header
    %h2
      Contact Us
      %small get in touch
  .row-fluid
    .span12
      .hero-unit
        %p mgriffit@genome.wustl.edu
