#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx 'title_main'
    %small=tx 'title_small'
- cache do
  .container-fluid
    .row-fluid
      .span12
        .well=tx 'description'
        .well
          %dl
            -to('questions').each do |q|
              %dt
                %a.anchor{ name: q['anchor'] }
                =q['question']
              %dd=q['answer'].html_safe
              %br
