#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"
- cache do
  .container-fluid
    .row-fluid
      .span12
        .well=tx "description"
        .well
          %ul(class="unstyled")
            -to("links").each do |l|
              %li
                =dynamic_link_to(l["title"], l["url"])
                %small=l["description"]
        .well
          %a.anchor{ name: 'interaction_definitions' }
          %h5 Definitions of Drug-Gene Interaction Types
          %p
            This table has been assembled based upon our own understanding of the definitions of these terms, and we have
            provided citations to support these definitions. Many of the resources we curate do not provide their own
            definitions of these terms, and so we encourage users of DGIdb to use these definitions as a starting point,
            and review interactions of interest from their primary sources. If you have any questions or comments
            regarding these definitions or the use of DGIdb,
            %a{:href => "/contact"}please contact us!
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %td
                  Interaction Type
                  %a.anchor{ name: 'activator' }
                %td Sources Using This Type
                %td Description
                %td Reference
            %tbody
              %tr
                %td
                  activator
                  %a.anchor{ name: 'adduct' }
                %td ChEMBL, DrugBank, MyCancerGenomeClinicalTrial, TTD
                %td
                  An activator interaction is when a drug activates a biological response from a target, although the
                  mechanism by which it does so may not be understood.
                %td
                  DrugBank examples:
                  =pubmed_link_to(12070353)
              %tr
                %td
                  adduct
                  %a.anchor{ name: 'agonist' }
                %td DrugBank
                %td
                  An adduct interaction is when a drug-protein adduct forms by the covalent binding of electrophilic
                  drugs or their reactive metabolite(s) to a target protein.
                %td
                  =pubmed_link_to(16199025)
              %tr
                %td
                  agonist
                  %a.anchor{ name: 'allosteric_modulator' }
                %td ChEMBL, DrugBank, TALC, TTD
                %td
                  An agonist interaction occurs when a drug binds to a target receptor and activates the receptor to
                  produce a biological response.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Agonist"}Wikipedia - Agonist
              %tr
                %td
                  allosteric modulator
                  %a.anchor{ name: 'antagonist' }
                %td DrugBank
                %td
                  An allosteric modulator interaction occurs when drugs exert their effects on their protein targets
                  via a different binding site than the natural (orthosteric) ligand site.
                %td
                  =pubmed_link_to(24699297)
              %tr
                %td
                  antagonist
                  %a.anchor{ name: 'antibody' }
                %td ChEMBL, DrugBank, TALC, TTD
                %td
                  An antagonist interaction occurs when a drug blocks or dampens agonist-mediated
                  responses rather than provoking a biological response itself upon binding to a target receptor.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Receptor_antagonist"}Wikipedia - Receptor Antagonist
              %tr
                %td
                  antibody
                  %a.anchor{ name: 'antisense_oligonucleotide' }
                %td CancerCommons, DrugBank, MyCancerGenome, TALC, TTD
                %td An antibody interaction occurs when an antibody drug specifically binds the target molecule.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Antibody#Disease_diagnosis_and_therapy"}Wikipedia - Antibody
              -#%tr
              -#  %td antisense
              -#  %td TTD
              -#  %td Coming Soon
              -#  %td N/A
              %tr
                %td
                  antisense oligonucleotide
                  %a.anchor{ name: 'binder' }
                %td TALC
                %td
                  An antisense oligonucleotide interaction occurs when a complementary RNA drug binds to an mRNA target
                  to inhibit translation by physically obstructing the mRNA translation machinery.
                %td
                  =pubmed_link_to(10228554)
              %tr
                %td
                  binder
                  %a.anchor{ name: 'blocker' }
                %td DrugBank, TTD
                %td
                  A binder interaction has drugs physically binding to their target.
                %td
                  DrugBank examples:
                  =pubmed_link_to(12388666)
                  =pubmed_link_to(7584665)
                  =pubmed_link_to(14507470)
              %tr
                %td
                  blocker
                  %a.anchor{ name: 'chaperone' }
                %td ChEMBL, DrugBank, TTD
                %td
                  =dynamic_link_to("Antagonist","#antagonist")
                  interactions are sometimes referred to as blocker interactions; examples include alpha blockers, beta
                  blockers, and calcium channel blockers.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Receptor_antagonist"}Wikipedia - Receptor Antagonist
              %tr
                %td
                  chaperone
                  %a.anchor{ name: 'cleavage' }
                %td DrugBank
                %td
                  Pharmacological chaperone interactions occur when substrates or modulators directly bind to a
                  partially folded biosynthetic intermediate to stabilise the protein and allow it to complete the
                  folding process to yield a functional protein.
                %td
                  =pubmed_link_to(17597553)
              %tr
                %td
                  cleavage
                  %a.anchor{ name: 'cofactor' }
                %td DrugBank
                %td
                  Cleavage interactions take place when the drug promotes degeneration of the target protein through
                  cleaving of the peptide bonds.
                %td
                  DrugBank example:
                  =pubmed_link_to(10666203)
              %tr
                %td
                  cofactor
                  %a.anchor{ name: 'competitive' }
                %td DrugBank, TTD
                %td A cofactor is a drug that is required for a target protein's biological activity.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Cofactor_(biochemistry)"}Wikipedia - Cofactor
              %tr
                %td
                  competitive
                  %a.anchor{ name: 'immunotherapy' }
                %td DrugBank
                %td
                  Competitive antagonists (also known as surmountable antagonists) are drugs that reversibly bind to
                  receptors at the same binding site (active site) on the target as the endogenous ligand or agonist,
                  but without activating the receptor.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Receptor_antagonist#Competitive"}Wikipedia - Receptor Antagonist
              %tr
                %td
                  immunotherapy
                  %a.anchor{ name: 'inducer' }
                %td MyCancerGenome
                %td
                  In immunotherapy interactions, the result of the drug acting on the target is an induction,
                  enhancement, or suppression of an immune response.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Immunotherapy"}Wikipedia - Immunotherapy
              %tr
                %td
                  inducer
                  %a.anchor{ name: 'inhibitor' }
                %td DrugBank, TTD
                %td In inducer interactions, the drug increases the activity of its target enzyme.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Enzyme_inducer"}Wikipedia - Enzyme Inducer
              %tr
                %td
                  inhibitor
                  %a.anchor{ name: 'inhibitory_allosteric_modulator' }
                %td CancerCommons, ChEMBL, DrugBank, MyCancerGenome, MyCancerGenomeClinicalTrial, TALC, TTD
                %td
                  In inhibitor interactions, the drug binds to a target and decreases its expression or activity.
                  Most interactions of this class are enzyme inhibitors, which bind an enzyme to reduce enzyme activity.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Enzyme_inhibitor"}Wikipedia - Enzyme Inhibitor
              %tr
                %td
                  inhibitory allosteric modulator
                  %a.anchor{ name: 'inverse_agnoist' }
                %td CancerCommons, DrugBank
                %td
                  In inhibitory allosteric modulator interactions, also called negative allosteric modulator
                  interactions, the drug will inhibit activity of its target enzyme.
                %td
                  =pubmed_link_to(24699297)
              %tr
                %td
                  inverse agonist
                  %a.anchor{ name: 'ligand' }
                %td DrugBank
                %td
                  An inverse agonist interaction occurs when a drug binds to the same target as an agonist, but induces
                  a pharmacological response opposite to that of the agonist.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Inverse_agonist"}Wikipedia - Inverse Agonist
              %tr
                %td
                  ligand
                  %a.anchor{ name: 'modulator' }
                %td DrugBank
                %td
                  In ligand interactions, a drug forms a complex with its target protein to serve a biological function.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Ligand_(biochemistry)"}Wikipedia - Ligand
              %tr
                %td
                  modulator
                  %a.anchor{ name: 'multitarget' }
                %td ChEMBL, DrugBank, TTD
                %td
                  In modulator interactions, the drug regulates or changes the activity of its target. In contrast to
                  =dynamic_link_to('allosteric modulators','#allosteric_modulator') + ','
                  this interaction type may not involve any direct binding to the target.
                %td
                  Modulators. Segen's Medical Dictionary. (2011).
                  %a{:href => "http://medical-dictionary.thefreedictionary.com/modulators"}Retrieved online
                  October 9 2015.
              %tr
                %td
                  multitarget
                  %a.anchor{ name: 'n/a' }
                %td DrugBank
                %td
                  In multitarget interactions, drugs achieve a physiological effect through simultaneous interaction
                  with multiple gene targets.
                %td
                  =pubmed_link_to(22768266)
              %tr
                %td
                  n/a
                  %a.anchor{ name: 'negative_modulator' }
                %td
                  CIViC, ChEMBL, ClearityFoundationBiomarkers, ClearityFoundationClinicalTrial, DoCM,
                  DrugBank, GuideToPharmacologyInteractions, PharmGKB, TALC, TEND, TTD, TdgClinicalTrial
                %td
                  DGIdb assigns this label to any drug-gene interaction for which the interaction type is not specified
                  by the reporting source.
                %td N/A
              %tr
                %td
                  negative modulator
                  %a.anchor{ name: 'other/unknown' }
                %td DrugBank
                %td
                  In a negative modulator interaction, the drug negatively regulates the amount or activity of its
                  target. In contrast to an
                  =dynamic_link_to('inhibitory allosteric modulator', '#inhibitory_allosteric_modulator') + ','
                  this interaction type may not involve any direct binding to the target.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Ligand_(biochemistry)"}Wikipedia - Allosteric modulator
              %tr
                %td
                  other/unknown
                  %a.anchor{ name: 'partial_agonist' }
                %td DrugBank, MyCancerGenome
                %td
                  This is a label given by the reporting source to an interaction that doesn't belong to other
                  interaction types, as defined by the reporting source.
                %td N/A
              %tr
                %td
                  partial agonist
                  %a.anchor{ name: 'partial_antagonist' }
                %td ChEMBL, DrugBank
                %td
                  In a partial agonist interaction, a drug will elicit a reduced amplitude
                  functional response at its target receptor, as compared to the response elicited by a full agonist.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Receptor_antagonist#Partial_agonists"}
                    Wikipedia - Receptor Antagonist
              %tr
                %td
                  partial antagonist
                  %a.anchor{ name: 'positive_allosteric_modulator' }
                %td DrugBank
                %td
                  In a partial antagonist interaction, a drug will only partially reduce the amplitude of a functional
                  response at its target receptor, as compared to the reduction of response by a full antagonist.
                %td
                  =pubmed_link_to(6188923)
              %tr
                %td
                  positive allosteric modulator
                  %a.anchor{ name: 'potentiator' }
                %td ChEMBL, DrugBank
                %td
                  In a positive allosteric modulator interaction, the drug increases activity of the target enzyme.
                %td
                  =pubmed_link_to(24699297)
              %tr
                %td
                  potentiator
                  %a.anchor{ name: 'product_of' }
                %td DrugBank
                %td
                  In a potentiator interaction, the drug enhances the sensitivity of the target to the target's ligands.
                %td
                  %a{:href => "https://en.wikipedia.org/wiki/Potentiator"}Wikipedia - Potentiator
              %tr
                %td
                  product of
                  %a.anchor{ name: 'stimulator' }
                %td DrugBank
                %td
                  These "interactions" occur when the target gene produces the endogenous drug.
                %td N/A
              %tr
                %td
                  stimulator
                  %a.anchor{ name: 'suppressor' }
                %td DrugBank, TTD
                %td
                  In a stimulator interaction, the drug directly or indirectly affects its target, stimulating a
                  physiological response.
                %td
                  DrugBank Examples:
                  =pubmed_link_to(23318685)
                  =pubmed_link_to(17148649)
                  =pubmed_link_to(15955613)
              %tr
                %td
                  suppressor
                  %a.anchor{ name: 'vaccine' }
                %td DrugBank
                %td
                  In a suppressor interaction, the drug directly or indirectly affects its target,
                  suppressing a physiological process.
                %td
                  DrugBank Examples:
                  =pubmed_link_to(8386571)
                  =pubmed_link_to(14967460)
              %tr
                %td vaccine
                %td TALC
                %td In vaccine interactions, the drugs stimulate or restore an immune response to their target.
                %td
                  =dynamic_link_to('NCI - Cancer Vaccines',
                  'http://www.cancer.gov/about-cancer/causes-prevention/vaccines-fact-sheet#q3')