%div{style: "text-align: center;"}
	%h1
		Welcome to DGIdb!
	%div{style: "width: 900px; margin: 0 auto;"}
		%span{style: "font-size: 17px;"}
			We offer user-friendly browsing, searching, and filtering of information on drug-gene interactions mined from over thirty trusted sources. If this is your first time here, check out our guide on 

			%a(href="/getting_started") getting started

			or just try us out!
		%div{style: "margin-top:20px; text-align: center;"}
			%a{href:"/search_interactions"}	
				%button.btn.btn-success(style='font-size: 20px')
					Search Interactions
			%a{href:"/search_categories"}	
				%button.btn.btn-success(style='font-size: 20px')
					Search Categories