%div{style: "text-align: center;"}
  %h1{style: "font-size: 35px;"}
    Welcome to DGIdb!
  %div{style: "width: 1000px; margin: 0 auto;"}
    %span{style: "font-size: 18px;"}
      We offer user-friendly browsing, searching, and filtering of information on drug-gene interactions mined from over thirty trusted sources. If this is your first time here, check out our guide on 

      %a(href="/getting_started" style="text-decoration: underline;") getting started

      or just try us out!
    %div{style: "margin-top: 20px; margin-bottom: 25px; text-align: center;"}
      %a{href:"/search_interactions", style:"margin: 0 5px"} 
        %button.btn.btn-success(style='font-size: 24px')
          Search for Interactions
      %a{href:"/search_categories", style:"margin: 0 5px"} 
        %button.btn.btn-success(style='font-size: 24px')
          Search for Categories
    %hr{style: "display: block; height: 1px; border: 0; border-top: 1px solid #ccc"}
    %div
      %div{style: "float: left; width:70%; "}
        .modal-header
          %p.lead
            %strong Disclaimer:
            This resource is intended for purely research purposes. It should not be used for emergencies or medical or professional advice.
        .modal-body
          %p
            A finding of a drug-gene interaction or potentially druggable category does not necessarily indicate effectiveness (or lack thereof) of any drug or treatment regimen. A finding of no interaction or no potentially druggable category does not necessarily indicate lack of effectiveness of any drug or treatment regimen. Drug-gene interactions or potentially druggable categories are not presented in ranked order of potential or predicted efficacy. 
          %p
            The dgidb.org website does not provide any medical or healthcare products, services or advice, and is not for medical emergencies or urgent situations. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR 911 IMMEDIATELY. Information contained on this website is not a substitute for a doctor's medical judgment or advice.  We recommend that you discuss your specific, individual health concerns with your doctor or health care professional.
      %div{style: "margin-left: 70%;"}
        %a(class="twitter-timeline" href="https://twitter.com/DGI_db?ref_src=twsrc%5Etfw")
          Tweets by DGI_db 
    %hr{style: "display: block; height: 1px; border: 0; border-bottom: 1px solid #ccc;"}

%script(async src="//platform.twitter.com/widgets.js" charset="utf-8")