#notice= notice
=content_for :title, 'DGIDB Home'
.container-fluid
  .page-header
    %h2
      DGIDB
      %small drug gene interaction database
  .row-fluid
    .span12
      .well
        DGIDB (drug gene interaction database) aggregates known interactions between drugs and genes
      .hero-unit
        %ul{:class => 'unstyled'}
          %li
            %a(href="search_interactions" data-toggle="tab")Search Interactions
            %small Find drug gene interactions for genes
          %li
            %a(href="search_categories" data-toggle="tab")Search Druggable Gene Categories
            %small Find drug-gene interactions for selected gene categories
          %li
            %a(href="druggable_gene_categories" data-toggle="tab")Gene Categories
            %small Examine particular druggable gene categories
