#notice= notice
=content_for :title, 'DGIDB Home'
.container-fluid
  .page-header
    %h2
      DGIDB
      %small drug gene interaction database
  .row-fluid
    .span12
      .well
        DGIDB (drug gene interaction database) aggregates known interactions between drugs and genes
      .hero-unit
        %ul{:class => 'unstyled'}
          %li
            %a(href="/search_interactions")Search Interactions
            %small Find drug gene interactions for genes
          %li
            %a(href="/search_categories")Search Druggable Gene Categories
            %small Find drug-gene interactions for selected gene categories
          %li
            %a(href="/druggable_gene_categories")Druggable Gene Categories
            %small Examine particular druggable gene categories
