#notice= notice
=content_for :title, 'DGIDB Home'
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  .row-fluid
    .span12
      .well=tx "description"
      .hero-unit
        %ul{:class => 'unstyled'}
          %li
            %a(href="/search_interactions")Search Interactions
            %small Find drug gene interactions for genes
          %li
            %a(href="/search_categories")Search Druggable Gene Categories
            %small Find drug-gene interactions for selected gene categories
          %li
            %a(href="/druggable_gene_categories")Druggable Gene Categories
            %small Examine particular druggable gene categories
