#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"
- cache do
  .container-fluid
    .row-fluid
      .span10
        -to("posts").reverse_each do |q|
          %p.lead=q['headline']
          %em.small=q['date']
          %p=q['article'].html_safe
          %hr
