#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"
- cache do
  .container-fluid
    .row-fluid
      .span12
        -to("posts").reverse_each do |q|
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                =q['headline']
                %em.pull-right.small
                  =q['date']
            .panel-body
              =q['article'].html_safe
