=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %a(href="/faq#goal")
        =icon('question-sign')

- cache do
  .container.search-container
    .row-fluid{style: "margin-top: 20px"}
      .span8{style: "float: left; margin-left: 230px; margin-bottom: 20px; padding:35px", class: "well"}
        %form.form-horizontal(id="search_form" action="interaction_search_results" method="post" enctype="multipart/form-data")
          %fieldset
            .control-group{style: "margin-bottom: -15px"}
              .controls
                .btn-group#toggleIdentifiers(data-toggle='buttons')
                  %label.btn.btn-primary.active(for='geneSearch' style="width: 150px; font-weight: bold")
                    %input#geneSearch(type='radio' name='search_mode' value='genes' style='display:none;' checked='checked')
                      Genes
                  %label.btn.btn-primary(for='drugSearch'style="width: 150px; font-weight: bold")
                    %input#drugSearch(type='radio' name='search_mode' value='drugs' style='display:none;') 
                      Drugs             
            .control-group
              / need to change position of this control group
              %label.control-label(id='ids_flag')
                /#ids_text Genes
                /=icon(:flag, title: tx("ids_flag"), class: 'tip')
                / need to get this icon to appear and move "Genes" over to the left
                /%a(href="/faq#types")
                /=icon('question-sign')
              .controls
                %textarea#identifiers{name: 'identifiers', rows: "13", style: "width: 300px; font-size: 20px"}
                  =# need to change width of this textarea
            .control-group
              / need to change position of this control group, consider changing width of buttons to match textarea
              .controls
                %button.btn.btn-small.btn-danger#clear(type='button') Clear Identifiers
                %button.btn.btn-small.btn-primary#defaultIdentifiers(type='button') Replace with Demo List
      .span8{style: "float: left; margin-left: 20px"}
        %div{style: "height: 187px; width: 360px", class: "well"}
          %label.btn.btn-primary Preset Filters
          %div{style: "background-color: white; margin-top: 10px; padding: 5px; border-radius: 5px"} 
            %div
              %input{type: "checkbox", value: "checked", name: "fda_approved_drug", form: "search_form"} 
                = "  FDA Approved"
            %div
              %input{type: "checkbox", value: "Cancer Drugs"} 
                = "  Cancer Drugs"
            %div
              %input{type: "checkbox", value: "Immunotherapies"} 
                = "  Immunotherapies"
        %div{style: "height: 187px; width: 360px", class: "well"} 
          %label.btn.btn-primary Advanced Filters
          %div{style: "background-color: white; margin-top: 10px; padding: 5px; border-radius: 5px"} 
            =render partial: 'shared/multiselect', locals: { control_group_name: 'Source Databases',
              flag_text_key: 'source_database_flag', select_tag_name: 'interaction_sources', collection: @sources,
              name_meth: 'to_s', value_meth: 'to_s', tour_id: 'sources_tour' }
            =render partial: 'shared/multiselect', locals: { control_group_name: 'Gene Categories',
              flag_text_key: 'gene_category_flag', select_tag_name: 'gene_categories', collection: @gene_categories,
              name_meth: 'to_s', value_meth: 'to_s', tour_id: 'gene_cateogories_tour' }
            =render partial: 'shared/multiselect', locals: { control_group_name: 'Interaction Types',
              flag_text_key: 'interaction_type_flag', select_tag_name: 'interaction_types', collection: @interaction_types,
              name_meth: 'to_s', value_meth: 'to_s', tour_id: 'interaction_types_tour' }
      .form-actions{style: "clear: both; float: left; margin-left: 450px"}
        %button.btn.btn-success(type="submit" id='search-btn' style='font-size: 20px' form='search_form')
          /change position to center, consider changing size, consider gray background
          %i(class="fa fa-search" aria-hidden="true")
          Find Drug-Gene Interactions

  =render partial: 'shared/loading_modal', locals: {title: "Searching Drug-Gene Interactions..."}

  =javascript_include_tag 'jquery-ui-1.8.21.custom.min'
  =javascript_include_tag 'jquery.multiselect.min'
  =javascript_include_tag 'jquery.multiselect.filter.min'
  =javascript_include_tag 'bootstrap3-typeahead.min'
  =javascript_include_tag 'search_interactions' 