=content_for :title, 'Search Interactions'
.container-fluid
  .page-header
    %h2
      Search Interactions
      %small search for drug-gene interactions by gene name
  %form.form-horizontal(action="interaction_search_results" method="post" enctype="multipart/form-data")
    %fieldset
      .control-group
        %label.control-label
          Genes File
          %i.icon-flag.tip(title="Place one gene name per line in the file. These will be added to whatever is pasted below.")
        .controls
          %input.input-file(type="file" name='geneFile')
      .control-group
        %label.control-label
          Use Default Genes
          %i.icon-flag.tip(title="Inserts a list of genes selected for testing and illustrative purposes.")
        .controls
          %button.btn.btn-small.btn-danger#defaultGenes(type='button') Replace Genes with Defaults
      .control-group
        %label.control-label
          Genes
          %i.icon-flag.tip(title="Place one gene name per line in the text area. These will be added to names from the file if used above. You may also type gene names in the box and they will be autocompleted (by pressing tab or enter)")
        .controls
          %textarea#genes(name='genes' rows="13")
      .control-group#loadingBar
        %label(style='display: none')
        .controls
          .progress.progress-striped.active.span2
            .bar(style='width: 100%') Loading Autocomplete
      .control-group
        %label.control-label
          Source Database
          %i.icon-flag.tip(title="Specify which source(s) of drug-gene interactions to search against")
        .controls
          =select_tag "sources", options_from_collection_for_select(@sources, "to_s", "to_s"), multiple: true, class: :multiselect
      .control-group
        %label.control-label
          Filter
          %i.icon-flag.tip(title="Reduce search results to only interactions of a specific type")
        .controls
          %select(name='filter')
            %option(value='basic') Basic
            %option(value='inhibitors_only') Inhibitors only
            %option(value='kinase_only') Kinase associated drugs only
            %option(value='anti_neoplastic') Antineoplastic drugs only
            %option(value='none') None
      .control-group
        %label.control-label Select Output Format
        .controls
          %label.radio
            %input(id='html_output' type='radio' name='outputFormat' value='html' checked='true') HTML
          %label.radio
            %input(id='tsv_output' type='radio' name='outputFormat' value='tsv') TSV
      .form-actions
        %button.btn.btn-primary(type="submit")Find Drug Interactions

=render partial: 'shared/loading_modal', locals: {title: "Searching Drug-Gene Interactions..."}

=stylesheet_link_tag 'jquery-ui-1.8.16.custom'
=stylesheet_link_tag 'jquery.multiselect'
=stylesheet_link_tag 'jquery.multiselect.filter.css'
=javascript_include_tag 'jquery-ui-1.8.21.custom.min.js'
=javascript_include_tag 'jquery.multiselect.min'
=javascript_include_tag 'jquery.multiselect.filter.min'
=javascript_include_tag 'search_interactions'
