=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %a(href="/faq#goal")
        =icon('question-sign')

- cache do
  .container-fluid.span8
    %form.form-horizontal(action="interaction_search_results" method="post" enctype="multipart/form-data")
      %fieldset
        .control-group
          %label.control-label(id='genes_flag')
            Genes
            =icon(:flag, title: tx("genes_flag"), class: 'tip')
            %a(href="/faq#types")  
              =icon('question-sign')
          .controls
            %textarea#genes(name='genes' rows="13")
        .control-group#loadingBar
          %label(style='display: none')
          .controls
            .progress.progress-striped.active.span2
              .bar(style='width: 100%') Loading Autocomplete
        .control-group
          .controls
            %button.btn.btn-small.btn-primary#defaultGenes(type='button') Replace Genes with Demo List
            %button.btn.btn-small.btn-danger#clear(type='button') Clear All Genes
        =render partial: 'shared/multiselect', locals: { control_group_name: 'Source Databases',
          flag_text_key: 'source_database_flag', select_tag_name: 'interaction_sources', collection: @sources,
          name_meth: 'to_s', value_meth: 'to_s', tour_id: 'sources_tour' }
        =render partial: 'shared/multiselect', locals: { control_group_name: 'Source Trust Level',
          flag_text_key: 'source_trust_level_flag', select_tag_name: 'source_trust_levels', collection: @source_trust_levels,
          name_meth: 'to_s', value_meth: 'to_s', tour_id: 'source_trust_level_tour' }
        =render partial: 'shared/multiselect', locals: { control_group_name: 'Gene Categories',
          flag_text_key: 'gene_category_flag', select_tag_name: 'gene_categories', collection: @gene_categories,
          name_meth: 'to_s', value_meth: 'to_s', tour_id: 'gene_cateogories_tour' }
        =render partial: 'shared/multiselect', locals: { control_group_name: 'Interaction Types',
          flag_text_key: 'interaction_type_flag', select_tag_name: 'interaction_types', collection: @interaction_types,
          name_meth: 'to_s', value_meth: 'to_s', tour_id: 'interaction_types_tour' }
        .control-group
          %label.checkobox
            Anti-Neoplastic Drugs Only
            %i.icon-flag.tip{title: tx("drug_type_flag")}
            %input(id='drug_type_checkbox' type='checkbox' name='limit_drugs' value='true')
        .form-actions
          %button.btn.btn-success(type="submit" id='search-btn')
            =icon('search', class: 'icon-white')
            Find Drug Interactions
  =render partial: 'all_sources', locals: { sources: @current_sources }
  =render partial: 'shared/loading_modal', locals: {title: "Searching Drug-Gene Interactions..."}

  =javascript_include_tag 'jquery-ui-1.8.21.custom.min'
  =javascript_include_tag 'jquery.multiselect.min'
  =javascript_include_tag 'jquery.multiselect.filter.min'
  =javascript_include_tag 'search_interactions'
