=content_for :title, 'Search Interactions'
=content_for :header do
  %h2
    =tx "title_main"
    %small=tx "title_small"

.container-fluid
  %form.form-horizontal(action="interaction_search_results" method="post" enctype="multipart/form-data")
    %fieldset
      .control-group
        %label.control-label
          Genes File
          %i.icon-flag.tip{title: tx("genes_file_flag")}
        .controls
          %input.input-file(type="file" name='geneFile')
      .control-group
        %label.control-label
          Use Default Genes
          %i.icon-flag.tip{title: tx("default_genes_flag")}
        .controls
          %button.btn.btn-small.btn-success#defaultGenes(type='button') Replace Genes with Defaults
      .control-group
        %label.control-label
          Clear Genes
        .controls
          %button.btn.btn-small.btn-danger#clear(type='button') Clear All Genes
      .control-group
        %label.control-label
          Genes
          %i.icon-flag.tip{title: tx("genes_flag")}
        .controls
          %textarea#genes(name='genes' rows="13")
      .control-group#loadingBar
        %label(style='display: none')
        .controls
          .progress.progress-striped.active.span2
            .bar(style='width: 100%') Loading Autocomplete
      .control-group
        %label.control-label
          Source Database
          %i.icon-flag.tip{title: tx("source_database_flag")}
        .controls
          =select_tag "sources", options_from_collection_for_select(@sources, "to_s", "to_s"), multiple: true, class: :multiselect
      .control-group
        %label.control-label
          Filter
          %i.icon-flag.tip{title: tx("filter_flag")}
        .controls
          %select(name='filter')
            %option(value='basic') Basic
            %option(value='inhibitors_only') Inhibitors only
            %option(value='kinase_only') Kinase associated drugs only
            %option(value='anti_neoplastic') Antineoplastic drugs only
            %option(value='none') None
      .control-group
        %label.control-label
          Select Output Format
          %i.icon-flag.tip{title: tx("output_format_flag")}
        .controls
          %label.radio
            %input(id='html_output' type='radio' name='outputFormat' value='html' checked='true') HTML
          %label.radio
            %input(id='tsv_output' type='radio' name='outputFormat' value='tsv') TSV
      .form-actions
        %button.btn.btn-primary(type="submit")Find Drug Interactions

=render partial: 'shared/loading_modal', locals: {title: "Searching Drug-Gene Interactions..."}

=stylesheet_link_tag 'jquery-ui-1.8.16.custom'
=stylesheet_link_tag 'jquery.multiselect'
=stylesheet_link_tag 'jquery.multiselect.filter.css'
=javascript_include_tag 'jquery-ui-1.8.21.custom.min.js'
=javascript_include_tag 'jquery.multiselect.min'
=javascript_include_tag 'jquery.multiselect.filter.min'
=javascript_include_tag 'search_interactions'
