=content_for :title, 'Search Interactions'

.container-fluid
  %form.form-horizontal{ :action => "interaction_search_results", :method => "post" }
    %fieldset
      /
        .control-group
          %label.control-label Text input
          .controls
            %input.input-xlarge(type="text")
            %p.help-block In addition to freeform text, any HTML5 text-based input appears like so.
        .control-group
          %label.control-labelSelect list
          .controls
            %select
              %option something
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
        .control-group
          %label.control-label Multicon-select
          .controls
            %select(multiple="multiple")
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
      .control-group
        %label.tip.control-label(title="Place one gene name per line in the file. These will be added to whatever is pasted below.") Genes File
        .controls
          %input.input-file(type="file")
      .control-group
        %label.control-label Add genes
        .controls
          %input.typeahead#geneInput(type="text" data-provide='typeahead')
      .control-group
        %label.tip.control-label(title="Place one gene name per line in the text area. These will be added to names from the file if used above.") Paste Genes
        .controls
          %textarea.input-xlarge(rows="3")
      .control-group
        %label.control-label Select Interactions Source Database
        .controls
          .btn-group(data-toggle="buttons-checkbox")
            %button.btn.btn-primary.database(type='button') TTD
            %button.btn.btn-primary.database(type='button') DrugBank
        .control-group
          %label.control-label Filter
          .controls
            .btn-group-vertical(data-toggle="buttons-radio")
              %button.btn.btn-primary(type="button" active='true') Basic
              %button.btn.btn-primary(type="button") Inhibitors only
              %button.btn.btn-primary(type="button") Kinase associated drugs only
              %button.btn.btn-primary(type="button") Antineoplastic drugs only
              %button.btn.btn-primary(type="button") None
      .control-group
        %label.control-label Select Output Format
        .controls
          .btn-group(data-toggle="buttons-radio")
            %button.btn.btn-primary.database(type='button') HTML
            %button.btn.btn-primary.database(type='button') TSV
      .form-actions
        %button.btn.btn-primary(type="submit")Find Drug Interactions
        %button.btn Cancel

=javascript_include_tag 'search_interactions'
