=content_for :title, 'Search Druggable Gene Categories'

.container-fluid
  .page-header
    %h2
      Search Druggable Gene Categories
      %small search for drug-gene interactions while filtering by druggable gene categories
  %form.form-horizontal(action="categories_search_results" method="post" enctype="multipart/form-data")
    %fieldset
      .control-group
        %label.control-label
          Genes File
          %i.icon-flag.tip(title="Place one gene name per line in the file. These will be added to whatever is pasted below.")
        .controls
          %input.input-file(type="file" name='geneFile')
      .control-group
        %label.control-label
          Use Default Genes
          %i.icon-flag.tip(title="Inserts a list of genes selected for illustrative and test purposes")
        .controls
          %button.btn.btn-small.btn-danger#defaultGenes(type='button') Replace Genes with Defaults
      .control-group
        %label.control-label
          Genes
          %i.icon-flag.tip(title="Place one gene name per line in the text area. These will be added to names from the file if used above. You can also type gene names and they will be autocompleted (by pressing tab or enter)")
        .controls
          %textarea#genes(name='genes' rows="13")
      .control-group#loadingBar
        %label(style='display: none')
        .controls
          .progress.progress-striped.active.span2
            .bar(style='width: 100%') Loading Autocomplete
      .control-group
        %label.control-label
          Categories
          %i.icon-flag.tip(title="Categories are groups of genes considered by some to be potentially druggable targets.")
        .controls
          =select_tag "categories", options_from_collection_for_select(@category_names, "category_value", "category_value"), multiple: true, class: :multiselect
      .control-group
        %label.control-label Select Output Format
        .controls
          %label.radio
            %input(id='html_output' type='radio' name='outputFormat' value='html' checked='true') HTML
          %label.radio
            %input(id='tsv_output' type='radio' name='outputFormat' value='tsv') TSV
      .form-actions
        %button.btn.btn-primary(type="submit")Find Gene Categories

=render partial: 'shared/loading_modal', locals: {title: "Searching Druggable Gene Categories..."}

=stylesheet_link_tag 'jquery-ui-1.8.16.custom'
=stylesheet_link_tag 'jquery.multiselect'
=stylesheet_link_tag 'jquery.multiselect.filter.css'
=javascript_include_tag 'jquery-ui-1.8.21.custom.min.js'
=javascript_include_tag 'jquery.multiselect.min'
=javascript_include_tag 'jquery.multiselect.filter.min'
=javascript_include_tag 'search_categories'
