#notice= notice
=content_for :title, "DGIdb - #{@drug_claim.title} Drug Record"
=content_for :header do
  %h2
    %span{id: "drug_name"}=@drug_claim.title.html_safe
    %small
      ="drug data from #{@drug_claim.source.source_db_name}"

- cache @drug_claim do
  .container-fluid
    .row-fluid
      .span12
        .well
          %h3 Drug Record
          =render partial: 'drug_claims/drug_claim', locals: {drug_claim: @drug_claim}

  =javascript_include_tag "related_drugs"
