/* Import Bootstrap Resources
 **************************************************/
@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

/* Import Application LESS
 **************************************************/
@import "color_genes.css.less";
@import "color_sources.css.less";
@import "sticky_footer.css.less";

/* BOOTSTRAP OVERRIDES
 **************************************************/
// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    64px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;

/* BASE COLORS
 **************************************************/
@dgidb-green: #69b53e;
@dgidb-brown: #5f604b;
@dgidb-purple: #502066;
@dgidb-red: #a40014;
@dgidb-blue: #4ea1b9;
@dgidb-yellow: #f3b128;
@dgidb-orange: #c54b16;

/* LAYOUT
 **************************************************/
body {
  padding-top: 58px;
}

.anchor:before {
    display:block;
    content:"";
    height: 60px;
    margin:-60px 0 0;
}

.bubble-links a {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  padding: 1px 9px 2px;
  .border-radius(9px);
  background-color: #444;
  opacity:0.6;
}

.item {
  width: 550px;
  margin: 5px;
}

/* NAVIGATION
 **************************************************/
.navbar {
  border-bottom: 4px solid #9993a9;
}

.navbar-inner {
  position: relative;
  .brand {
    margin: 0;
    padding: 0;
  }
}

.navbar .nav.main-menu {
  position: absolute;
  bottom: 0;
  left: 310px;
  .active {
    a {
      background-color: #47444e;
      .border-radius(5px 5px 0 0);
    }
  }
}

.navbar .nav.help-menu {

}

/* GENE/DRUG/INTERACTION DETAILED RESULT LISTS
 **************************************************/
#gene-list-tabs {
  .icon-chevron-right {
    float: right;
  }

  li {
    border-left-width: 4px;
    border-left-style: solid;
    .border-radius(4px 0 0 4px);
  }
  .nav-tabs.nav-stacked > li:first-child > a {
    .border-radius (0 4px 0 0);
  }

  .nav-tabs.nav-stacked > li:last-child > a {
    .border-radius (0 0 4px 0);
  }

  li a {
    border-left-width: 0;
  }

  li.drug { border-left-color: @dgidb-red; }
  li.gene { border-left-color: @dgidb-green; }
  li.interaction { border-left-color: @dgidb-blue; }
  li.potentially_druggable { border-left-color: @dgidb-orange; }
  
  li.active a {
    background-color: #08C;
    color: #FFF;
  }
}

.result-list {
  // background-color: #FAA;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin: 0;
    padding: 8px;
    list-style: none;
    background-color: #EFEFEF;
    margin-bottom: 1em;
    border-left-width: 5px;
    border-left-style: solid;
    .border-radius(5px);

    .item-title {
      display: table;
      width: 100%;
      margin: 3px 5px;
      
      .item-name {
        display: table-cell;
        h3 {
          margin: 0;
          padding: 0;
          line-height: 32px;
          background-position: left center;
          background-repeat: no-repeat;
          padding-left: 40px;

          a {
            color: @textColor !important;
            border-bottom: 2px solid #CCC !important;
          }

          a:hover {
            text-decoration: none;
            border-bottom: 2px solid @textColor !important;            
          }
        }
      }

      .item-corner {
        display: table-cell;
        padding: 0;
        float: right;

        ul.attribute-list {
          margin: 0;

          li {
            list-style: none;
            display: inline-block;
            margin: 0;
            passing: 0;
            margin-right: .5em;
            list-style: none;
            color: #999;
          }
        }
      }
    }
    .item-content {
      display: table;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 5px;

      .cell {
        width: 33.3%;

        .item-panel {
          .border-radius(5px);
          background-color: #FFF;
          padding: 3px 8px;
          margin: 0 5px;
        }

      }
      .category {
        display: table-cell;
      }
      .middle {
        margin: 0 5px;
      }
    }

  }

  li.gene {
    border-left-color: @dgidb-green;
    .icon { background-image: url('icons/icon-gene_32.png'); background-color: @dgidb-green; }
    .item-name h3 { background-image: url('icons/icon-gene_32.png'); }
  }
  li.drug {
    border-left-color: @dgidb-red;
    .icon { background-image: url('icons/icon-drug_32.png'); background-color: @dgidb-red; }
    .item-name h3 { background-image: url('icons/icon-drug_32.png'); }
  }
  li.interaction {
    border-left-color: @dgidb-blue;
    .icon { background-image: url('icons/icon-interaction_32.png'); background-color: @dgidb-blue; }
    .item-name h3 { background-image: url('icons/icon-interaction_32.png'); }
  }
  li.potentially_druggable {
    border-left-color: @dgidb-orange;
    .icon { background-image: url('icons/icon-potentially_druggable_32.png'); background-color: @dgidb-orange; }
    .item-name h3 { background-image: url('icons/icon-gene-potentially_druggable_32.png'); }
  }

}


/* Data Tables
 **************************************************/
.dataTables_length {
  margin-left: 20px;
}

.dataTables_info {
  margin-left: 20px;
}

div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

table.table thead .sorting { background: url('sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
  outline: none;
}

/* Tours
 **************************************************/
.popover {
  z-index: 1030;
}
