%p
  %b Reported Gene Name and External Link:
  =ext_link_to gene_claim.name, gene_claim.original_data_source_url
%p
  %b Source Database Name:
  =link_to gene_claim.source.source_db_name, source_path(gene_claim.source.source_db_name)
%p
  %b Source Database Version:
  =gene_claim.source.source_db_version
%p
  %b Primary Gene Name in DGIdb:
  =#link_to gene_claim.genes.first.name, "/genes/#{gene_claim.genes.first.name}"
  = gene_claim.genes.first.name
%p
  %b Alternate Names:
  %table.table
    -gene_claim.gene_claim_aliases.each do |alt_name|
      %tr
        %td
          -if(gene_claim.source.source_db_name == 'GO')
            =ext_link_to alt_name.alias, 'http://amigo.geneontology.org/cgi-bin/amigo/gp-details.cgi?gp=UniProtKB:' << alt_name.alias
          -else
            =alt_name.alias 
        %td=alt_name.nomenclature
%p
  %b Meta-data:
  %table.table
    -gene_claim.gene_claim_attributes.each do |category|
      %tr
        %td=category.name
        %td=category.value
%p
  %b Citation:
  %p=gene_claim.source.citation
