.well
  %table#table-by-source.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th Name
        -gene.source_db_names.each do |name|
          %th=name
        %th Count
    %tbody
      =render partial: 'genes/by_source_table_row', collection: gene.grouped_names
