%tr{onclick: "location.href='/genes/#{gene.short_name}';"}
  %td
    =gene.short_name
  %td
    =gene.gene_name
  %td
    =gene.source_links

:css
  tr:hover td{
    background-color:rgba(220, 220, 220, 1);
    cursor: pointer;
  }
  td .label {
    display: inline-block;
    margin-bottom: 3px;
  }