%tr
  %td
    =category_results_table_row.search_term
  -#%td
  -#  =link_to category_results_table_row.gene_display_name, gene_path(category_results_table_row.gene_name)
  %td{title: category_results_table_row.gene_name + ' - ' + category_results_table_row.gene_display_name}
    = link_to gene_path(category_results_table_row.gene_name) do
      %strong
        = category_results_table_row.gene_name
      = " - "
      %em
        %small
          =truncate(category_results_table_row.gene_display_name, length: 50)
  %td
    =link_to category_results_table_row.gene_category, gene_by_category_path(category_results_table_row.gene_category)
