%tr
  %td
    =family_results_table_row.group_name
  %td
    =link_to family_results_table_row.gene_family, gene_group_by_family_path(family_results_table_row.gene_family)
  %td
    =family_results_table_row.search_term
