/ takes in variable for type of summary (gene or gene)
/ displays lists of aliases, gene/gene info, publications
/ figure out how to get "card" aesthetic

- aliases = gene.gene_claims.map{|claim| claim.gene_claim_aliases}.flatten
- gene_claim_attrs = gene.gene_claims.map{|claim| claim.gene_claim_attributes}.flatten
- interaction_claims = gene.interactions.map{|interaction| interaction.interaction_claims}.flatten
- interaction_claim_attrs = interaction_claims.map{|claim| claim.interaction_claim_attributes}.flatten
- all_attrs = gene_claim_attrs | interaction_claim_attrs
- info = all_attrs.reject{|attribute| attribute.name == 'PMID'}
- publications = all_attrs.select{|attribute| attribute.name == 'PMID'}.map{|pub| pub.value}

%div(class="item-content")
	%div{class: "cell category", style: "float: right; width: 50%"}
		%div(class="item-panel")
			%h4
				Alternate Names:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 472px; overflow-y: scroll", id: "table_aliases"}
				-aliases.each do |alt_name|
					%tr
						%td=alt_name.alias
						%td=alt_name.nomenclature
	%div{class: "cell category", style: "float: left; width: 50%" }
		%div(class="item-panel")
			%h4
				Gene Info:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 200px; overflow-y: scroll", id:"table_info"}
				-gene_claim_attrs.each do |attribute|
					%tr
						%td=attribute.name
						%td=attribute.value
		%br
		%div(class="item-panel")
			%h4
				Publications:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 200px; overflow-y: scroll", id:"table_publications"}
				-publications.each do |pub|
					%tr
						%td=pub	

