/ takes in variable for type of summary (gene or gene)
/ displays lists of aliases, gene/gene info, publications
/ figure out how to get "card" aesthetic

%div(class="item-content")
	%div{class: "cell category", style: "float: right; width: 50%"}
		%div(class="item-panel")
			%h4
				Alternate Names:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 472px; overflow-y: scroll", id: "table_aliases"}
				- gene.gene_aliases.each do |alt_name|
					%tr
						%td{style: "width: 275px"}
							=alt_name.alias
						%td{style: "text-align: right; width: 375px"}
							=alt_name.nomenclature
	%div{class: "cell category", style: "float: left; width: 50%" }
		%div(class="item-panel")
			%h4
				Gene Info:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 200px; table-layout:fixed; overflow-y: scroll", id:"table_info"}
				- gene.gene_attributes.each do |attribute|
					%tr
						%td{style: "width: 275px"}=attribute.name
						%td{style: "width: 375px"}=attribute.value
		%br
		%div(class="item-panel")
			%h4
				Publications:
			%table{class: "table table-condensed table-striped", style: "display: block; height: 200px; table-layout:fixed; overflow-y: scroll", id:"table_publications"}
				-gene.publications.each do |publication|
					%tr
						%td{"data-toggle"=>"tooltip", title: publication.interaction_claims.map{|ic| ic.source.source_db_name}.uniq.join(", ")}
							%a{href: PMID.pubmed_url(publication.pmid)}
								= publication.citation
							

