-#-binding.pry
%ul(class="result-list")
  -gene.sorted_gene_claims.each do |gene_claim|
    %li(class="#{gene_claim.source.source_type.type}")
      =render partial: 'gene_claims/gene_claim', locals: {gene_claim: gene_claim}
