%p
  %b Gene Name:
  =link_to gene.name, gene.original_data_source_url
%p
  %b Source Database Name:
  =link_to gene.citation.source_db_name, gene.citation.site_url
%p
  %b Source Database Version:
  =gene.citation.source_db_version
%p
  %b Alternate Names:
  %table.table
    -gene.gene_alternate_names.each do |alt_name|
      %tr
        %td
          -if(gene.citation.source_db_name == 'GO')
            =link_to alt_name.alternate_name, 'http://amigo.geneontology.org/cgi-bin/amigo/gp-details.cgi?gp=UniProtKB:' << alt_name.alternate_name
          -else
            =alt_name.alternate_name
        %td=alt_name.nomenclature
%p
  %b Categories:
  %table.table
    -gene.gene_categories.each do |category|
      %tr
        %td=category.category_name
        %td=category.category_value
%p
  %b Citation:
  %p=gene.citation.citation
