%tr
  %td=link_to results_by_category_table_row.category_name, gene_by_category_path(results_by_category_table_row.category_name, sources: params[:sources])
  %td=results_by_category_table_row.gene_count
  %td=(results_by_category_table_row.genes.map{ |g| link_to g, gene_path(g) }.join(", ")).html_safe
  %td=(results_by_category_table_row.non_matched_genes.map{ |g| link_to g, gene_path(g) }.join(", ")).html_safe
