.well
  %p
    %h3
      =title
      %small
        %strong
          %i.icon-flag.tip{title: tooltip_text}
    %small
      %strong
        %em
          =subtitle
  =render partial: 'shared/table_export', locals: {id: 'by-gene-category-export'}
  %table#by-gene-category-export.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th
          Druggable Gene Category
          %i.icon-flag.tip(title="Categories are groups of genes considered by some to be potentially druggable targets.")
        %th
          Matching Gene Count
          %i.icon-flag.tip(title="The number of genes in the submitted gene list that belong to each druggable gene category")
        %th
          Matching Gene(s)
          %i.icon-flag.tip(title="The identity of genes in the submitted gene list that belong to each druggable gene category")
        %th
          Non-Matching Gene(s)
          %i.icon-flag.tip(title="The genes in the submitted gene list that do NOT belong to each druggable gene category")
    %tbody
      =render partial: 'genes/results_by_category_table_row', collection: categories
