%tr
  %td
    =link_to results_by_source_table_row.name, gene_by_category_path(results_by_source_table_row.name, sources: params[:sources])
  -results_by_source_table_row.sources.each do |source_count|
    %td
      =source_count
  %td
    =results_by_source_table_row.sources.inject(0){ |sum, source_count| sum + source_count }
