.row-fluid
  .span12
    .well
      %p
        %h3
          =title
          %small
            %strong
              %i.icon-flag.tip{title: tooltip_text}
        %small
          %strong
            %em
              =subtitle
      =render partial: 'shared/table_export', locals: {id: 'table-by-source'}
      %table#table-by-source.table.table-striped.table-bordered(cellpadding="0" cellspacing="0" border="0")
        %thead
          %tr
            %th 
              Druggable Gene Category
              %i.icon-flag.tip(title="Categories are groups of genes considered by some to be potentially druggable targets.")
            -results.source_db_names_for_table.each do |name|
              %th=name
            %th 
              Count
              %i.icon-flag.tip(title="Number of reports of the submitted genes belonging to each gene category according to each source.")
        %tbody
          =render partial: 'genes/results_by_source_table_row', collection: results.categories_map_by_source_db_names
