#notice= notice
=content_for :title do
  =tx "title"
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %a(href="/faq#difference")
        =icon('question-sign')

.container-fluid
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a(href="#by_genes" data-toggle="tab") Category Results
      %li
        %a(href="#search_summary_tab" data-toggle="tab") Search Results Summary
      %li
        %a(href="#by_categories" data-toggle="tab") By Category
      %li
        %a(href="#by_source" data-toggle="tab") By Source
    .tab-content{style: "margin-left: -30px; margin-top: 20px;"}
      .tab-pane.active#by_genes
        -if @search_results.show_result_categories?
          .row-fluid
            .span12
              =render partial: 'genes/category_results_table', locals: {title: "Primary Results", categories: @search_results.result_presenters, tooltip_text: tx("definite_results_passed_filter_flag"), subtitle: "Search terms matching exactly one gene that belongs to one or more druggable categories.", export_id: 'category_result_export'}
        .row-fluid
          -if @search_results.show_ambiguous_results?
            =render partial: 'genes/no_category_result', locals: {title: 'Ambiguous Search Terms', results: @search_results.ambiguous_results, tooltip_text: tx('ambiguous_terms_flag'), subtitle: "Search terms matching multiple genes. These genes may or may not belong to druggable gene categories."}
          -if @search_results.show_definite_results_with_no_categories?
            =render partial: 'genes/no_category_result', locals: {title: 'Matched Genes With No Categories', results: @search_results.definite_results_with_no_categories, subtitle: "Search terms matching multiple genes. These genes may or may not belong to druggable gene categories.", tooltip_text: tx('no_matches_flag')}
          -if @search_results.show_no_results_results?
            .span6
              .well
                %h3
                  Search Terms With No Matches
                  %small
                    %strong
                      %i.icon-flag.tip{title: tx("terms_with_no_matches_flag")}
                %small      
                  %strong 
                    %em Search terms that could not be matched to a gene.
                %p  
                %ul
                  -@search_results.no_results_results.each do |result|
                    %li=result.search_term
      .tab-pane.fade#by_categories
        -if @search_results.show_genes_by_category?
          .row-fluid
            .span12
              =render partial: 'genes/results_by_category_table', locals: {title: "Results Grouped by Categories", categories: @search_results.genes_by_category, tooltip_text: tx('search_results_by_categories_flag'), subtitle: "Number of search terms matching genes in each druggable gene category." }
      .tab-pane.fade#search_summary_tab
        =render partial: 'genes/results_summary', locals: {title: "Results Grouped by Gene Category", results: @search_results}
      .tab-pane.fade#by_source
        =render partial: 'genes/results_by_source_table', locals: {title: "Results Enumerated by Source", results: @search_results, tooltip_text: tx('title_search_results_by_source'), subtitle: "Number of search terms matching genes in each druggable gene category broken down by source."}

:css
  .dataTables_wrapper > div.row {
    margin: 0;
  }
  .row-fluid {
    width: 100%;
    display: block;
  }
  .row-fluid [class*="span"] {
    display: block;
    box-sizing: border-box;
    float: left;
    margin-left: 2.128%;
    width: 100%;
  }
  .row-fluid > .span12 > .well .span6 {
    width: 40%;
  }
  .row-fluid > .span6 {
    box-sizing: border-box;
    width: 48.93617021276595%;
    margin-right: 0;
    float: left;
    display: block;
  }
  .pagination {
    display: block;
  }
  .pagination ul {
    display: inline-block;
    margin: 0 0 10px 25px;
    padding: 0;
    list-style-type: disc;
    border-radius: 4px;
    border-collapse: separate; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  }
  .pagination ul > li {
    display: inline;
    line-height: 20px;
  }
  .pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    border: 1px solid #dddddd;
  }
  .table-bordered {
    border-radius: 4px;
    border-collapse: separate; 
    border-spacing: 0;
    border-left: 0;
  }
  .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    display: table-cell;
    border-top: 10px solid #dddddd;
    margin:10px;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    display: table-cell;
    border: 0;
    margin:10px;
  }
  .table > tbody > tr > td {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd
  }
  .table > thead > tr > th {
    border-left: 1px solid #dddddd;
  }

=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "interaction_search_results"
=javascript_include_tag "table-export"
=javascript_include_tag "jquery.smartresize"
=javascript_include_tag "trunk8"
