=content_for :title, @title
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %strong
        %i.icon-flag.tip{title: tx("title_flag")}

#container.container-fluid
  #source-list.well.span12{data: {sources: @sources.to_json}}
    %label.checkbox.inline Limit categories to specific sources:
    -@sources.each do |source|
      %label.checkbox.inline
        %input{type: 'checkbox', value: source, data: {bind: 'checked: sources'}}
        =source

#container.container-fluid
  .category-listing{data: {bind: 'foreach: categories'}}
    .item.well.span3
      %a{data: {bind: "attr: { href: link }"}}
        %h4{data: {bind: 'text: text'}}
%p

=javascript_include_tag 'knockout-2.2.1'
=javascript_include_tag 'gene-categories-view-model.coffee'
