=content_for :title, @title
=content_for :header do
  %h2
    =tx "title_main"
    %small
      =tx "title_small"
      %strong
        %i.icon-flag.tip{title: tx("title_flag")}

#container.container-fluid
  -@categories.each do |category|
    .item(style="width:400")
      .well
        =link_to content_tag(:h4, "#{category.name} (#{category.gene_count})" ), gene_by_category_path(category.name)

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"

