.container-fluid
  .tabbable
    .tab-content
      .tab-pane.active#summary
        .row-fluid#container 
          .span12
            %ul(class="result-list" id="list-results")
              %li.gene
                %div(class="item-title")
                  %div(class="item-name")
                    %h3(class="item-source")
                      =@category_name

                %div(class="item-content")
                  %div(class="cell category")
                    %div(class="item-panel")
                      %div{style: "max-height: 700px; overflow-y: scroll; margin-bottom: 5px;"}
                        %table{class: "table table-condensed table-striped", style: "table-layout:fixed;" }
                          %thead
                            %tr
                              %th
                                Gene
                                %small
                                  %strong
                                    %i.icon-flag.tip{title: tx("gene_table_header_flag")}
                              %th
                                Gene Description
                                %small
                                  %strong
                                    %i.icon-flag.tip{title: tx("description_table_header_flag")}
                              %th
                                Source(s)
                                %small
                                  %strong
                                    %i.icon-flag.tip{title: tx("source_table_header_flag")}
                            %tbody
                              =render partial: 'genes/category_table_row', collection: @genes.display_genes, as: :gene