=content_for :title, @title
=content_for :header do
  %h2
    =@title
    %small data sources and alternate names 
    %a(href="/faq#defined")
      %i.icon-question-sign

.container-fluid
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a(href="#detailed_view" data-toggle="tab") Detailed View
      %li
        %a(href="#by_source" data-toggle="tab") By Source
    .tab-content
      .tab-pane.active#detailed_view
        .row-fluid#container
          =render partial: 'genes/gene', locals:{gene: @gene}
      .tab-pane.fade#by_source
        .row-fluid
          .span12
            =render partial: 'genes/by_source_table', locals:{gene_presenter: @gene_presenter}

=javascript_include_tag "jquery.masonry.min"
=javascript_include_tag "mason_items"
=javascript_include_tag "jquery.dataTables.min"
=javascript_include_tag "pagination_bootstrap"
=javascript_include_tag "gene_groups"

