#disclaimer-modal.modal{style: 'display:none;'}
  .modal-header
    %button.close{data: {dismiss: 'modal', target:'#disclaimer-modal'}}x
    %p.lead
      %strong Disclaimer:
      This resource is intended for purely research purposes. It should not be used for emergencies or medical or professional advice.
  .modal-body
    %p
      A finding of a drug-gene interaction or potentially druggable category does not necessarily indicate effectiveness (or lack thereof) of any drug or treatment regimen. A finding of no interaction or no potentially druggable category does not necessarily indicate lack of effectiveness of any drug or treatment regimen. Drug-gene interactions or potentially druggable categories are not presented in ranked order of potential or predicted efficacy. 
    %p
      The dgidb.org website does not provide any medical or healthcare products, services or advice, and is not for medical emergencies or urgent situations. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR 911 IMMEDIATELY. Information contained on this website is not a substitute for a doctor's medical judgment or advice.  We recommend that you discuss your specific, individual health concerns with your doctor or health care professional.
  .modal-footer
    %button#close-disclaimer.btn{data: {dismiss: 'modal', target:'#disclaimer-modal'}}
      Close

