!!! 5
%html
  %head
    %title=h yield(:title)
    =stylesheet_link_tag    "application",   media: 'all'
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    #wrap
      .container-fluid
        .navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            %a.brand(href="/")
              %img{:src => "/assets/dgidb-header-branding_128c.png", :class => "logo", :width => "298", :height => "64"}
            %ul.nav.main-menu
              %li{class: @search_interactions_active}
                %a(href="/search_interactions") Search Interactions
              %li{class: @search_categories_active}
                %a(href="/search_categories") Search Categories
              %li{class: @druggable_gene_categories_active}
                %a(href="/druggable_gene_categories") Browse Categories
            %ul.nav.pull-right.help-menu
              %li.divider-vertical
              %li.dropdown{class: @help_active}
                %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                  Help
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a(href="/getting_started") Getting Started
                    %a(href="/faq") FAQ
                    %a(href="/sources") Sources
                    %a(href="/downloads") Downloads
                    %a(href="/contact") Contact
      .container-fluid
        .page-header
          =h yield(:header)
      .container-fluid
        - flash.each do |key, val|
          = content_tag :div, (content_tag :h3, val), class: "alert alert-#{key}"
      =yield
    =render partial: 'shared/tour', locals: { tour: @tour }
  #push
  #footer
    .container
      %ul.span12.muted
        -to( 'links', 'index' ).each do |l|
          %p
            %li.span2
              =dynamic_link_to(l["title"], l["url"])
              %small=l["description"]
  =feedback_popup
  -if(Rails.env.production?)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35524735-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
